

<!--SOLDAKI MENU:-->

<app-top></app-top>

<div class="container-fluid">
  <!-- Page Features -->

  <router-outlet></router-outlet>

<!-- Footer -->
<app-solframe></app-solframe>



<app-footer></app-footer>

</div>

<!--<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  <a class="navbar-brand" href="#">Sozluk</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">Gündem
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->
<!--
<div class="container-fluid ">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
&lt;!&ndash;      <form class="bd-search d-flex align-items-center">
&lt;!&ndash;        <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
        </button>&ndash;&gt;
      </form>&ndash;&gt;


      <nav class="collapse bd-links" id="bd-docs-nav"><div class="bd-toc-item">
        <a class="bd-toc-link" href="/">
          Getting started
        </a>
        <ul class="nav bd-sidenav"><li>
          <a href="">
            Introduction
          </a></li><li>
          <a href="/">
            Download
          </a></li><li>
          <a href="">
            Contents
          </a></li><li>
          <a href="">
            Browsers & devices
          </a></li><li>
          <a href="">
            JavaScript

          </a>
        </li>
        </ul>
      </div>
      </nav>
    </div>
  </div>
</div>-->






