


.bd-navbar {
  min-height: 4rem;
  background-color: #563d7c;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);

}

form.form-inline{
padding-left: 300px
}
a.nav-link{
 padding-left: 50px;
}

.navbar-nav{
  display: flex;
  list-style: none;
}


@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }
}



